<h1>Editing Collection</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= render 'form', collection: @collection %>

<h4><%= t('collections.show.manifests') %></h4>
<ol><%= render @collection.manifests %></ol>

<%= render 'manifests/form', collection: @collection %>

<h4><%= t('collections.show.workspaces') %></h4>
<div class="row"><%= render @collection.workspaces %></div>

<%= link_to 'Show', @collection %> |
<%= link_to 'Back', collections_path %>
