<div class='container-fluid'>
  <div class='row'>
    <div class='col-12'>
      <h3><%= @collection.name %></h3>

      <h4><%= t('collections.show.manifests') %></h4>
      <ol><%= render @collection.manifests %></ol>

      <h4><%= t('collections.show.workspaces') %></h4>
      <div class="row"><%= render @collection.workspaces %></div>

      <%= link_to 'Edit', edit_collection_path(@collection) %> |
      <%= link_to 'Back', collections_path %> |
      <%= link_to 'New Workspace', new_collection_workspace_path(@collection) %>
    </div>
  </div>
</div>
