<%= form_for([@collection, @workspace]) do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: 'col-2 col-form-label' %>
    <div class='col-10'>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, class: 'col-2 col-form-label' %>
    <div class='col-10'>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :public, class: 'col-2 col-form-label' %>
    <div class='col-10'>
      <%= f.check_box :public %>
    </div>
  </div>

  <%= f.hidden_field :data %>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
