<!DOCTYPE html>
<html>
  <head>
    <title>MiradorSul</title>
    <%= csrf_meta_tags %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= body_classes %>">
    <%= render 'shared/header' %>
    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
</html>
